
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: row; /* Alinha os filhos em uma linha horizontal */
    align-items: stretch; /* Estica os filhos para ocupar toda a altura */
    width: 100vw;
    height: 100vh;
    
    background-image: url('/images/background.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
}
